.pos-receipt-print {
    width: 792px;
    font-size: 27px;
    color: #000000;
}

.pos-receipt .pos-receipt-right-align {
    float: right;
    display: flex;
}

.pos-receipt .pos-receipt-right-align .tax-letter{
    margin-left: 0.5em;
}

.pos-receipt .pos-receipt-center-align {
    text-align: center;
}

.pos-receipt .pos-receipt-left-padding {
    padding-left: 2em;
}

.pos-receipt .pos-receipt-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pos-receipt .pos-receipt-qrcode {
    display: block;
    margin: 0 auto;
}

.pos-receipt .pos-receipt-contact {
    text-align: center;
    font-size: 95%;
}

.pos-receipt .pos-receipt-order-data {
    text-align: center;
    font-size: 95%;
}

.pos-receipt .pos-receipt-order-name {
    text-align: center;
    font-size: 95%;
}

.pos-receipt .pos-receipt-amount {
    font-size: 100%;
    padding-left: 3em;
}

.pos-receipt .pos-receipt-qty {
    font-size: 100%;
    text-align: center;
    padding-left: 0em;
    font-weight: bold;
}
.pos-receipt .pos-receipt-invoice {
    text-align:right;
    font-size:12px;
    font-weight:bold;
}

.pos-receipt .pos-receipt-title {
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}

.pos-receipt .pos-receipt-header {
    font-size: 95%;
    text-align: center;
}

.pos-receipt .pos-order-receipt-cancel {
    color: red;
}

.pos-receipt .pos-receipt-customer-note {
    word-break: break-all;
}

.pos-payment-terminal-receipt {
    text-align: center;
    font-size: 85%;
}

.pos-payment-terminal-receipt pre {
    font-family: inherit;
    font-size: 75%;
}

.responsive-price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.responsive-price > .pos-receipt-right-align {
    margin-left: auto;
}

.pos-receipt .pos-receipt-taxes {
    display: grid;
    grid-template-columns: min-content auto auto auto;
    width: 100%;
    font-size: 80%;
    justify-items: end;
}

.pos-receipt .orderlines {
    /*rtl:ignore*/
    direction: ltr;
}

.styled-receipt {
    padding: 15px;
    padding-bottom: 30px;
}
